@model File_Upload.Models.Project_defect
@{
    ViewBag.Title = "FileUpload";
}

<h1 class="jumbotron">File Upload</h1>
@using (Ajax.BeginForm(new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "result" }))
{
    if (ViewBag.Bool == true)
    {
        <div class="alert alert-success">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
            <strong>@ViewBag.Message</strong>
        </div>
    }
    else if (ViewBag.Bool == false)
    {
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
            <strong>@ViewBag.Message</strong>
        </div>
    }
    <div class="form-group">
        <div>
            <a href="#" class="alert"> </a>
        </div>

    </div>
    <div class="row col-md-10">
        <div class="form-group col-md-8">

            <input type="file" id="fileUpload" data-val-required="Please select file" />

            <div class="col-md-offset-2 col-md-4">
                <input type="submit" value="upload" class="btn btn-default" />
            </div>

        </div>
    </div>
}
<div id="result" />

