@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<h1>File Upload</h1>
@using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="myFile" />
    <input type="submit" />
}
<div>@ViewBag.Result</div>